@media only screen and (max-width: 300px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 300px, max-width: 768px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
}

@media only screen and (max-width: 300px) {
  div.example {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  div.example {
    display: none;
  }
}

@media only screen and (min-width: 300px) {
  div.example {
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  div.example {
    font-size: 30px;
  }
}
